<% provide(:title, "Federação | ")%>
<p id="notice"><%= notice %></p>

<div class="titulo-show-fed">
  <h3>Federações</h3>
</div>


<div class="principal-fed-show">
  <h2 class="titulo-fed-show">Passaporte <%= @event.name %> <%= @event.begin_day.year %></h2>
  
  <div class="container-foto-fed-show">
      <% if @federation.icon.present?  %>
          <%= image_tag(@federation.icon,:class => "foto-fed-show") %>
      <% else %>
          <img class ="foto-fed-show" src="/assets/noimage.jpg" alt="">
      <% end %>    
      
  </div>

  <div class="fed-show">
      <p class="nome-fed-show"><%= @federation.name %></p>
  </div>
  
  <div class="nomes-fed">
    <p class="nomes-show-fed"><%= @federation.state %></p>
    <div class="imagens-fed-show">
        <img class="foto-selo-fed" src="/assets/brasil-junior.png">
    </div>
  </div>
  
  <div class="clear"></div>
</div>

<div class="container-fed-painel">
    <div id="btn-menu-fed">Empresas da <%= @federation.name %></div>
    
    <script>
        $(document).on('click', '#btn-menu-fed', function () {
	      $('#container-click-fed').slideToggle('slow');
        });
    </script>
      
    <div id="container-click-fed">
      
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div id="wrapper">
       	  <div id="slider-wrap">
          	  <ul id="slider">
          	   <% @federation.ejs.each do |ej|%>
              	 <li data-color="#1abc9c">
                        
                      <% if ej.icon.present? %>
                          <%= image_tag(ej.icon,:class=>"foto-carrossel-fed-show") %>
                      <% else %>
                          <img class ="foto-carrossel-fed-show" src="/assets/noimage.jpg" alt="">
                      <% end %>
                          
                      <div class="nome-ej-fed-show">
                          <%= link_to ej.name, ej,:class=>"nome-ej-fed" %>
                      </div>
                </li>
              <% end %>
              </ul>
              
               <!--controls-->
              <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
              <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
              <div id="counter"></div>
              
              <div id="pagination-wrap">
                <ul>
                </ul>
              </div>
              <!--controls-->  
                     
          </div>
       </div>
      
      <script>
        //current position
      var pos = 0;
      //number of slides
      var totalSlides = $('#slider-wrap ul li').length;
      //get the slide width
      var sliderWidth = $('#slider-wrap').width();
      
      
      $(document).ready(function(){
      	
      	/*****************
      	 BUILD THE SLIDER
      	*****************/
      	//set width to be 'x' times the number of slides
      	$('#slider-wrap ul#slider').width(sliderWidth*totalSlides);
      	
          //next slide 	
      	$('#next').click(function(){
      		slideRight();
      	});
      	
      	//previous slide
      	$('#previous').click(function(){
      		slideLeft();
      	});
      	
      	
      	/*************************
      	 //*> OPTIONAL SETTINGS
      	************************/
      	
      	//for each slide 
      	$.each($('#slider-wrap ul li'), function() { 
      	   //set its color
      	   var c = $(this).attr("data-color");
      	   $(this).css("background",c);
      	   
      	   //create a pagination
      	   var li = document.createElement('li');
      	   $('#pagination-wrap ul').append(li);	   
      	});
      	
      	//counter
      	countSlides();
      	
      	//pagination
      	pagination();
      	
      	//hide/show controls/btns when hover
      	//pause automatic slide when hover
      	$('#slider-wrap').hover(
      	  function(){ $(this).addClass('active'); clearInterval(autoSlider); }, 
      	  function(){ $(this).removeClass('active'); autoSlider = setInterval(slideRight, 3000); }
      	);
      	
      });//DOCUMENT READY
      	
      /***********
       SLIDE LEFT
      ************/
      function slideLeft(){
      	pos--;
      	if(pos==-1){ pos = totalSlides-1; }
      	$('#slider-wrap ul#slider').css('left', -(sliderWidth*pos)); 	
      	
      	//*> optional
      	countSlides();
      	pagination();
      }
      
      /************
       SLIDE RIGHT
      *************/
      function slideRight(){
      	pos++;
      	if(pos==totalSlides){ pos = 0; }
      	$('#slider-wrap ul#slider').css('left', -(sliderWidth*pos)); 
      	
      	//*> optional 
      	countSlides();
      	pagination();
      }
      
      
      /************************
       //*> OPTIONAL SETTINGS
      ************************/
      function countSlides(){
      	$('#counter').html(pos+1 + ' / ' + totalSlides);
      }
      
      function pagination(){
      	$('#pagination-wrap ul li').removeClass('active');
      	$('#pagination-wrap ul li:eq('+pos+')').addClass('active');
      }
      </script>

    </div>
</div>

<div class="container-btn-fed-show">
    <% if @current_user.adm? %>
      <%= link_to 'Editar', edit_federation_path(@federation),:class=> "btn-fed-show" %>
      <%= link_to 'Voltar', federations_path,:class=> "btn-ej-show" %>
    <% else %>
      <%= link_to 'Voltar', root_path,:class=> "btn-ej-show" %>
    <% end %>
</div>