<%= form_for(checkout, url: :payment_room) do |form| %>
  <% if checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <style>
  .secret-field{
    display: none;
  }
  </style>
  <div class="secret-field">
    <%= form.label "Selecione o valor" %>
    <%= form.select(:lot_id, @lots.collect { |lot| [lot.room_with + lot.price, lot.id] }) %>
  </div>

  <div class="actions">
    <%= form.submit 'Pagar', :class => 'btn-form-checkout' %>
  </div>
<% end %>